* {
    font-family: "JetBrainsMono Nerd Font Propo", sans-serif;
    font-size: 12px;
    font-weight: bold;
    min-height: 0;
    padding: 0;
    margin: 0;
}
window#waybar {
    background-color: transparent;
    color: #c0caf5; /* fg */
}
#workspaces {
    background-color: #292e42; /* bg_highlight */
    padding: 2px 4px;
    border-radius: 20px;
}
#workspaces button {
    padding: 0 5px;
    margin: 2px;
    min-width: 10px;
    border-radius: 20px;
    transition: all ease-in-out 0.3s;
    background-color: #7aa2f7; /* blue */
}
#workspaces button.empty {
    background: #545c7e; /* dark3 */
}
#workspaces button:hover {
    min-width: 25px;
    background-color: #7aa2f7; /* blue */
}
#workspaces button.visible {
    min-width: 25px;
    background-color: #bb9af7; /* magenta */
}
#clock,
#battery,
#network,
#pulseaudio,
#bluetooth,
#custom-notification,
#tray {
    padding: 0 10px;
    margin: 0 4px;
    border-radius: 8px;
    background-color: #16161e; /* bg_dark */
}
#clock {
    color: #7dcfff; /* cyan */
}
#pulseaudio {
    color: #9ece6a; /* green */
}
#pulseaudio.muted {
    color: #565f89; /* comment */
}
#battery.charging,
#battery.plugged {
    color: #e0af68; /* yellow */
}
@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
#battery.critical:not(.charging) {
    background-color: #f7768e; /* red */
    color: #16161e; /* bg_dark */
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#bluetooth {
    color: #7aa2f7; /* blue */
}
#bluetooth.disconnected {
    color: #f7768e; /* red */
}
#custom-notification {
    font-size: 14px;
    color: #ff9e64; /* orange */
}
